[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
neovim = "*"
yapf = "*"

[requires]
python_version = "3.9"
